{% extends 'base.html' %}
{% load staticfiles %}

{% block main %}
  <div id="comparison">
    <h1>Crime compared to city averages</h1>
    <h2>Location: {{ longitude }}, {{ latitude }}</h2>
    <div id="charts"></div>
  </div>
{% endblock %}


{% block extra_js %}
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript">
    window.coords = {
      longitude: {{ longitude }},
      latitude: {{ latitude }}
    };
  </script>

  <script src="{% static 'js/charts.js' %}"></script>
{% endblock extra_js %}
