{% extends 'base.html' %}
{% load staticfiles %}

{% block main %}
  <!-- Main component for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1>Portland crime stats</h1>

    <p>See how your current location compares to average crime in the city, or compare two locations
      to each other.</p>

    <p>
      <a class="btn btn-lg btn-primary" id="compare-location" href="#compare-location" role="button">
        Compare your location to the rest of the city
      </a>
      <a class="btn btn-lg btn-primary" id="compare-two-locations" href="#compare-two-locations" role="button">
        Compare two locations
      </a>
    </p>
  </div>
{% endblock %}


{% block extra_js %}
  <script src="{% static 'js/home.js' %}"></script>
{% endblock extra_js %}