{% extends 'base.html' %}
{% load staticfiles %}

{% block main %}
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Bad neighborhood?</h1>

        <p>We'll let you know how the crime rate at your current location compares to the rest of the city.</p>

        <p>
            <a class="btn btn-lg btn-primary" id="compare-location" href="#compare-location" role="button">Compare crime at your location</a>
        </p>
    </div>

    <div id="comparison" class="hidden">
        <h1>Crime compared to city average</h1>
        <div id="chart1">
            <svg style='height:500px'></svg>
        </div>
    </div>
{% endblock %}


{% block extra_js %}
    <script src="{% static 'js/home.js' %}"></script>
{% endblock extra_js %}